{% extends 'homepage/base.html' %}
{% load static %}

<!-- Set page title -->
{% block title %}Forgot Password{% endblock %}

{% block content %}
    <div class="container d-flex flex-column flex-grow-1" style="background: var(--bs-gray-900);min-width: auto;">
        <div class="row flex-grow-1 justify-content-center align-items-center" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-md-9 col-lg-12 col-xl-10" style="padding-right: 0px;padding-left: 0px;min-width: 100%;">
                <div class="card shadow-lg flex-grow-1 o-hidden border-0" style="background: #231f20;margin-top: 0px;margin-bottom: 0px;">
                    <div class="card-body p-0" style="min-height: 80vh;">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;">
                            <div class="col-lg-6 d-none d-lg-flex" style="background: url({% static 'img/jakub-sisulak-sKJPFpnHA2A-unsplash.jpg' %}) left / cover;min-height: 80vh;">
                                <div></div>
                            </div>
                            <div class="col-lg-6 d-flex flex-column align-items-center">
                                <div class="d-flex flex-column flex-grow-1 justify-content-center align-content-center p-5">
                                    <div class="text-center">
                                        <h4 class="text-light mb-2">Forgot Your Password?</h4>
                                        <p class="text-light mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email" minlength="8" required="" style="background: var(--bs-gray-900);border-color: var(--bs-gray-800);"></div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: var(--bs-primary);">Reset Password</button>
                                    </form>
                                    <div class="text-center">
                                        <hr><a class="small" href="register.html" style="color: var(--bs-primary);">Create an Account!</a>
                                    </div>
                                    <div class="text-center"><a class="small" href="login.html" style="color: var(--bs-primary);">Already have an account? Login!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}