{% extends 'homepage/base.html' %}
{% load static %}

<!-- Set page title -->
{% block title %}Login{% endblock %}

<!-- Make the specific nav item active (nav-<page_name>) -->
{% block nav-login %}active{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column flex-grow-1 mt-4" style="background: var(--bs-gray-900);min-width: auto;">
        <div class="row d-flex flex-column flex-grow-1" style="margin-right: 0px;margin-left: 0px;">
            <div class="col-md-9 col-lg-12 col-xl-10 d-flex flex-grow-1 align-items-center" style="padding-right: 0px;padding-left: 0px;min-width: 100%;">
                <div class="card shadow-lg flex-grow-1 o-hidden border-0" style="min-height: 80vh;background: #231f20;">
                    <div class="card-body flex-grow-1 p-0" style="height: 80vh;">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;height: 80vh;">
                            <div class="col-lg-6 d-flex d-lg-flex flex-grow-1" style="padding-right: 0px;padding-left: 0px;">
                                <div class="flex-grow-1 bg-login-image" style="background: url({% static 'homepage/img/jakub-sisulak-L1AEdl-iLL4-unsplash.jpg' %}) top / cover;"></div>
                            </div>
                            <div class="col-lg-6 d-flex flex-column justify-content-center">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-light mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail-1" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email" style="background: var(--bs-gray-900);border-color: var(--bs-gray-800);"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password" style="background: var(--bs-gray-900);border-color: var(--bs-gray-800);"></div>
                                        <div class="mb-3">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label text-light custom-control-label" for="formCheck-1">Remember Me</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: var(--bs-primary);">Login</button>
                                        <hr>
                                    </form>
                                    <div class="text-center"><a class="small" href="forgot-password.html" style="color: var(--bs-primary);">Forgot Password?</a></div>
                                    <div class="text-center"><a class="small" href="register.html" style="color: var(--bs-primary);">Create an Account!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}