{% extends 'homepage/base.html' %}
{% load static %}

<!-- Set page title -->
{% block title %}Register{% endblock %}

<!-- Make the specific nav item active (nav-<page_name>) -->
{% block nav-register %}active{% endblock %}

{% block content %}
    <div class="container-fluid d-flex flex-column flex-grow-1 justify-content-center mt-4" style="background: var(--bs-gray-900);min-width: auto;">
        <div class="card shadow-lg d-flex flex-column o-hidden border-0" style="background: #231f20;margin-bottom: 0px;margin-top: 0px;min-height: 80vh;">
            <div class="card-body d-flex flex-column p-0">
                <div class="row flex-grow-1">
                    <div class="col-lg-5 d-flex d-lg-flex flex-column">
                        <div class="flex-grow-1 bg-register-image" style="background: url('{% static 'homepage/img/lucas-ortiz-RMSLfydEKSI-unsplash.jpg' %}') center / cover space;"></div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-center">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-light mb-4">Create an Account!</h4>
                            </div>
                            <form class="user">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="bg-dark form-control form-control-user" type="text" id="exampleFirstName-1" placeholder="First Name" name="first_name"></div>
                                    <div class="col-sm-6"><input class="bg-dark form-control form-control-user" type="text" id="exampleFirstName-2" placeholder="Last Name" name="last_name"></div>
                                </div>
                                <div class="mb-3"><input class="bg-dark form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="bg-dark form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                    <div class="col-sm-6"><input class="bg-dark form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit" style="background: var(--bs-primary);">Register Account</button>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html" style="color: var(--bs-primary);">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="login.html" style="color: var(--bs-primary);">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}